argparse
arrow
celery<4
certifi
chardet
django
django-annoying
django-auth-ldap
django-bootstrap3
django-celery
django-debug-toolbar
djangorestframework
django-scheduler
django-tables2
django-tables2-simplefilter
django-twilio
django-uuidfield
dj-database-url
dnspython
fpconst
future
gunicorn
httplib2
hypchat
icalendar
idna
kombu<3.1
mysql-python
oauth2client
pyasn1
pyasn1-modules
python-dateutil
python-ldap
pytz
requests
rsa
six
slacker
sleekxmpp
twilio
urllib3
vobject
wsgiref
